.order-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.address-container,
.order-details-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.subtotal {
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .order-container {
    padding: 10px;
  }
  
  .address-container,
  .order-details-container {
    padding: 10px;
  }
}
